.connect {
  padding: 8rem 0;
  background: #f1f6f9;

  @include large {
    padding: 4rem 0;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.1rem;

    @include laptop {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    h1 {
      text-transform: uppercase;
    }
  }

  &__left {
    @include laptop {
      display: flex;
      justify-content: center;
    }
  }

  &__item__text {
    margin-bottom: 0.8rem;

    @include text-truncate(8);
  }
}
