section.connect
        .container
            .connect__content
                .connect__left
                    img(src="./assets/images/Group.png")
                .connect__right 
                    .connect__title
                        h3.section__title Comprehensive connectivity
                        h1.section__title__main Kết nối toàn diện và tích #[br] hợp thông minh
                    .connect__list
                        .connect__item
                            p.connect__item__text Nếu doanh nghiệp của bạn đang vận hành trên các giải pháp phần mềm riêng lẻ nhưng không tương thích với nhau, bạn phải tốn thời gian nhập dữ liệu nhiều lần và đang thiếu cái nhìn tổng quan về quản trị.
                        .connect__item
                            p.connect__item__text Bemo Cloud tạo ra nền tảng giải quyết mọi nhu cầu kinh doanh của doanh nghiệp tích hợp tất cả các module quản trị bằng một giải pháp duy nhất. Giúp doanh nghiệp tiết kiệm chi phí và tích hợp: doanh nghiệp không cần phải làm thêm bất cứ việc gì để phối hợp với nhiều công nghệ khác nhau.
                        .connect__item
                            p.connect__item__text Việc tích hợp thông minh tối ưu hiệu năng – Bemo Cloud luôn sẵn sàng hỗ trợ quý doanh nghiệp đang cần bắt đầu công cuộc chuyển đổi số. Hãy để chúng tôi trở thành đối tác đồng hành cùng doanh nghiệp của bạn trong kỷ nguyên 4.0.