footer.footer
    .container
        .footer-content 
            .footer-item 
                .footer-logo 
                    img(src="/assets/images/Logo.png")
                .footer-contact 
                    p.footer-phone (+84) 37 2905 138
                    p.footer-mail bemo.cloud@gmail.com
                .footer-socials
                    .footer-socials-icon
                        i.fab.fa-facebook
                    .footer-socials-icon
                        i.fab.fa-twitter
                    .footer-socials-icon
                        i.fab.fa-linkedin
            .footer-item  
                p.footer-title Useful Links
                ul.footer-list 
                    li.footer-list-item
                        a Về chúng tôi
                    li.footer-list-item
                        a Điều khoản sử dụng
                    li.footer-list-item
                        a Chính sách bảo mật
                    li.footer-list-item
                        a Cam kết thực hiện dịch vụ
                    li.footer-list-item
                        a Quy trình nâng cấp phần mềm
                    li.footer-list-item
                        a Liên hệ
            .footer-item 
                p.footer-title Useful Links
                ul.footer-list 
                    li.footer-list-item
                        a Dịch vụ
                    li.footer-list-item
                        a Giải pháp
                    li.footer-list-item
                        a Chia sẻ kiến thức
            .footer-item 
                p.footer-title Newsletter
                p.footer-text Subsrcibe for our upcoming latest articles and resources.
                .footer-input
                    input(type='text' placeholder='Your email')
                    .footer-input-ico
                        i.fa.fa-paper-plane

    .copyright
        p.copyright-text © 2021 BEMO. All rights reserved.
