header.header--sticky
    .container
        .header
            .header__logo
                img.header__logo__main(src="./assets/images/Logo.png")
            .header__menu
                ul.header__menu__list
                    li.header__menu__item
                        i.fa.fa-house-damage
                        a.header__menu__link(href="/") Home
                    li.header__menu__item
                        i.fa.fa-house-damage
                        a.header__menu__link(href="/about-us.html") About us
                    li.header__menu__item
                        i.fa.fa-house-damage
                        a.header__menu__link(href="/services.html") Services
                    li.header__menu__item
                        i.fa.fa-house-damage
                        a.header__menu__link(href="/solution.html") Solution
                    li.header__menu__item
                        i.fa.fa-house-damage
                        a.header__menu__link(href="/blog.html") Blog
                    li.header__menu__item
                        i.fa.fa-house-damage
                        a.header__menu__link(href="/contact.html") Contact
                .header__language.dropdown.header__language__mobile
                    .header__language__flag
                        img(src="./assets/images/us-flag 1.png")
                    p.header__language__text eng #{test}
                    i.fad.fa-angle-down
                    .dropdown__language.dropdown-menu
                        li.dropdown-item 
                            img(src="./assets/images/us-flag 1.png")
                            p Vietnam
                        li.dropdown-item 
                            img(src="./assets/images/us-flag 1.png")
                            p Japan
                        li.dropdown-item 
                            img(src="./assets/images/us-flag 1.png")
                            p English
            .header__language.dropdown.header__language__desktop
                .header__language__flag
                    img(src="./assets/images/us-flag 1.png")
                p.header__language__text eng #{test}
                i.fad.fa-angle-down
                .dropdown__language.dropdown-menu
                    li.dropdown-item 
                        img(src="./assets/images/us-flag 1.png")
                        p Vietnam
                    li.dropdown-item 
                        img(src="./assets/images/us-flag 1.png")
                        p Japan
                    li.dropdown-item 
                        img(src="./assets/images/us-flag 1.png")
                        p English
            .header__hamburger
                include hamburger-icon
        //- .header__mobile            
        //-     img.header__logo__main(src="./assets/images/Logo.png")
        //-     .header__hamburger
        //-         include hamburger-icon