extends ../layouts/layout

block params
    - class_body = "services-page"
    - title_page = "Bemo"
block css
    link(rel="stylesheet", href="./assets/css/services.css")
block main
    include ../components/banner.pug
    include ../components/ServicesPage/services