-
    let recruitmentClass= "recruitment";
    let recruitmentTitle = "Bemo Recruitment";
    let recruitmentMainTitle = "BEMO - Quản Lý Tuyển Dụng";
    let recruitmentImageSrc = "./assets/images/services-recruitment.png";
    let recruitmentContentList = [{'title': "Tự động hóa quy trình", "text": "Tự động hóa quy trình tuyển dụng cho doanh nghiệp, giảm thiểu thời gian xử lý, nhập liệu… tăng hiệu quả tìm kiếm nhân tài."},{'title': "Tích hợp đa dạng", "text": "Tích hợp với nhiều website tuyển dụng hàng đầu."},{'title': "Gợi ý thông minh", "text": "Gợi ý ứng viên phù hợp với vị trí đăng tuyển."},{'title': "Tự thiết kế mẫu", "text": "Dễ dàng thiết kế mẫu đơn ứng tuyển cho từng vị trí, thư mời nhận việc..."},{'title': "Tương thích giao diện", "text": "Tương thích với giao diện máy tính, máy tính bảng và điện thoại di động"},{'title': "Linh hoạt thiết kế", "text": "Linh hoạt trong việc thiết kế giao diện và cơ sở dữ liệu theo nhu cầu sử dụng."},{'title':'Tối ưu hoá','text': 'Tối ưu nguồn dữ liệu ứng viên sẵn có.'}]

+service-content(recruitmentClass,recruitmentTitle,recruitmentMainTitle,true,recruitmentImageSrc,recruitmentContentList)

-
    let employeeClass= "employee";
    let employeeTitle = "Bemo Employees";
    let employeeMainTitle = "BEMO - Quản trị thông tin nhân sự";
    let employeeImageSrc = "./assets/images/services-employee.png";
    let employeeContentList = [{'title': "Soạn thảo hiệu quả", "text": "Tính năng soạn thảo và quản lý hợp đồng hiệu quả."},{'title': "Quản lý chế độ thông minh", "text": "Thiết kế và quản lý hệ thống chính sách, chế độ phúc lợi minh bạch, hỗ trợ tính lương chính xác."},{'title': "Dễ sử dụng", "text": "Giao diện quản lý trực quan, dễ sử dụng cho các phòng ban."},{'title': "Tối ưu nguồn nhân lực", "text": "Đánh giá và giúp tối ưu hiệu quả sử dụng nguồn nhân lực: giúp doanh nghiệp có thể đánh giá xuyên suốt quá trình làm việc, kết quả, quá trình đào tạo… của nhân viên, từ đó hỗ trợ công tác giao việc tối ưu."},{'title': "Cung cấp dữ liệu", "text": "Cung cấp dữ liệu toàn diện cho nhân viên trong suốt quá trình làm việc tại doanh nghiệp"},]

+service-content(employeeClass,employeeTitle,employeeMainTitle,false,employeeImageSrc,employeeContentList)


-
    let attendanceClass= "attendance";
    let attendanceTitle = "Bemo attendance";
    let attendanceMainTitle = "BEMO - Quản lý chấm công";
    let attendanceImageSrc = "./assets/images/services-attendances.png";
    let attendanceContentList = [{'title': "Nhanh chóng", "text": "Hiển thị thông tin chấm công nhanh chóng, thông minh đến nhân viên và cấp quản lý"},{'title': "Phản hồi dễ dàng", "text": "Dễ dàng nhận được phản hồi của nhân viên về thông tin chấm công"},{'title': "Gợi ý thông minh", "text": "Dễ dàng nhận được phản hồi của nhân viên về thông tin chấm công"},{'title': "Tiết kiệm thời gian", "text": "Không còn tiêu tốn thời gian so sánh dữ liệu một cách thủ công từ các nguồn khác nhau"},{'title': "Quản trị đơn giản", "text": "Giúp các nhà quản lý dễ dàng phê duyệt và quản trị thời gian làm việc của thành viên trong bộ phận"},{'title': "Kết nối đơn giản", "text": "Kết nối với nhiều ứng dụng quản lý chấm công khác nhau"},{'title': "Linh hoạt", "text": "Bộ lọc linh hoạt giúp người dùng tìm kiếm thuận tiện"},{'title': "Kết xuất tiện lợi", "text": "Dễ dàng nhập và kết xuất cơ sở dữ liệu đáp ứng yêu cầu xử lý công việc"},]

+service-content(attendanceClass,attendanceTitle,attendanceMainTitle,true,attendanceImageSrc,attendanceContentList)

-
    let insuranceClass= "insurance";
    let insuranceTitle = "Bemo insurance";
    let insuranceMainTitle = "BEMO - Lương & chế độ phúc lợi";
    let insuranceImageSrc = "./assets/images/services-insurance.png";
    let insuranceContentList = [{'title': "Thiết kế phù hợp", "text": "Thiết kế bảng tính lương phù hợp với doanh nghiệp"},{'title': "Linh động", "text": "Tùy chọn tính lương theo hiệu quả công việc được giao"},{'title': "Sử dụng tối ưu", "text": "Quản trị chi phí lương cho bộ phận, dự án…, giúp nhà quản trị sử dụng hiệu quả nguồn nhân lực"},]

+service-content(insuranceClass,insuranceTitle,insuranceMainTitle,false,insuranceImageSrc,insuranceContentList)

-
    let trainingClass= "training";
    let trainingTitle = "Bemo training";
    let trainingMainTitle = "BEMO - đào tạo";
    let trainingImageSrc = "./assets/images/services-training.png";
    let trainingContentList = [{'title': "Công nghệ đào tạo thông minh", "text": "Công cụ hỗ trợ đào tạo 4.0 thông minh"},{'title': "Đánh giá toàn diện", "text": "Theo dõi và đánh giá quá trình đào tạo của một nhân viên: đào tạo nội bộ, bên ngoài…"},{'title': "Lộ trình sự nghiệp", "text": "Lộ trình sự nghiệp khoa học và chuyên nghiệp"},{'title': "Đánh giá toàn diện", "text": "Đào tạo phát triển nhân lực bền vững."},]

+service-content(trainingClass,trainingTitle,trainingMainTitle,true,trainingImageSrc,trainingContentList)