section.services-banner
    .container 
        .services-banner__list
            .services-banner__item 
                .services-banner__item__image 
                    img(src="./assets/images/service-banner-1.png")
                h3.fw-700.services-banner__item__title Tự Động Hóa Mọi Quy Trình
                p.services-banner__item__text Tiết kiệm thời gian thực hiện thủ tục, nghiệp vụ nhân sự. Giảm thiểu sự chậm trễ, sai sót
            .services-banner__item 
                .services-banner__item__image 
                    img(src="./assets/images/service-banner-2.png")
                h3.fw-700.services-banner__item__title Quản Lý Tài Sản Hiệu Quả
                p.services-banner__item__text Giúp nhà lãnh đạo nắm bắt tức thời với đa dạng báo cáo về tình hình biến động nhân sự, hiệu quả tuyển dụng, quỹ lương, … trên mọi thiết bị.
            .services-banner__item 
                .services-banner__item__image 
                    img(src="./assets/images/service-banner-3.png")
                h3.fw-700.services-banner__item__title Hiệu Quả Quản Trị Nhân Lực
                p.services-banner__item__text Giúp nhà lãnh đạo nắm bắt tức thời với đa dạng báo cáo về tình hình biến động nhân sự, hiệu quả tuyển dụng, quỹ lương, … trên mọi thiết bị.
