section.banner
    .banner__overplay
    .banner__center
        .container
            .banner__content 
                h1.banner__content__title BỘ GIẢI PHÁP CÔNG NGHỆ CHUYỂN ĐỔI SỐ DOANH NGHIỆP
                p.banner__content__text Bemo Cloud cung cấp bộ giải pháp công nghệ toàn diện hỗ trợ cho quá trình chuyển đổi số và sự phát triển bền vững của doanh nghiệp. Chúng tôi mong muốn đi cùng và hỗ trợ cho sự phát triển của doanh nghiệp.
                button.btn.btn-secondary.banner__content__button 
                    p CONTACT