section.carousel
    .container
        .carousel__list
            .carousel__item 
                .carousel__item__top
                    .carousel__item__image
                        img(src="./assets/images/carousel1.png")
                .carousel__item__content
                    .carousel__item__top
                        h3.carousel__item__title Quản trị nguồn nhân lực
                        .carousel__item__text
                            p Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                    .carousel__item__footer
                        .carrousel__item__button
                            button.btn.btn-primary.carousel__item__button 
                                p Xem thêm
            .carousel__item 
                .carousel__item__top
                    .carousel__item__image
                        img(src="./assets/images/carousel1.png")
                .carousel__item__content
                    .carousel__item__top
                        h3.carousel__item__title Quản trị nguồn nhân lực
                        .carousel__item__text
                            p Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                    .carousel__item__footer
                        .carrousel__item__button
                            button.btn.btn-primary.carousel__item__button 
                                p Xem thêm
            .carousel__item 
                .carousel__item__top
                    .carousel__item__image
                        img(src="./assets/images/carousel1.png")
                .carousel__item__content
                    .carousel__item__top
                        h3.carousel__item__title Quản trị nguồn nhân lực
                        .carousel__item__text
                            p Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                    .carousel__item__footer
                        .carrousel__item__button
                            button.btn.btn-primary.carousel__item__button 
                                p Xem thêm
            .carousel__item 
                .carousel__item__top
                    .carousel__item__image
                        img(src="./assets/images/carousel1.png")
                .carousel__item__content
                    .carousel__item__top
                        h3.carousel__item__title Quản trị nguồn nhân lực
                        .carousel__item__text
                            p Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                    .carousel__item__footer
                        .carrousel__item__button
                            button.btn.btn-primary.carousel__item__button 
                                p Xem thêm
            .carousel__item 
                .carousel__item__top
                    .carousel__item__image
                        img(src="./assets/images/carousel1.png")
                .carousel__item__content
                    .carousel__item__top
                        h3.carousel__item__title Quản trị nguồn nhân lực
                        .carousel__item__text
                            p Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                    .carousel__item__footer
                        .carrousel__item__button
                            button.btn.btn-primary.carousel__item__button 
                                p Xem thêm
            .carousel__item 
                .carousel__item__top
                    .carousel__item__image
                        img(src="./assets/images/carousel1.png")
                .carousel__item__content
                    .carousel__item__top
                        h3.carousel__item__title Quản trị nguồn nhân lực
                        .carousel__item__text
                            p Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                    .carousel__item__footer
                        .carrousel__item__button
                            button.btn.btn-primary.carousel__item__button 
                                p Xem thêm
            .carousel__item 
                .carousel__item__top
                    .carousel__item__image
                        img(src="./assets/images/carousel1.png")
                .carousel__item__content
                    .carousel__item__top
                        h3.carousel__item__title Quản trị nguồn nhân lực
                        .carousel__item__text
                            p Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                    .carousel__item__footer
                        .carrousel__item__button
                            button.btn.btn-primary.carousel__item__button 
                                p Xem thêm