.carousel
    .container
        .carousel__list
            .carousel__item 
                .carousel__item__image
                    img(src="./assets/images/carousel1.png")
                h3.carousel__item__title Quản trị nguồn nhân lực
                p.carousel__item__text Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                button.carousel__item__button Xem thêm
            .carousel__item 
                .carousel__item__image
                    img(src="./assets/images/carousel1.png")
                h3.carousel__item__title Quản trị nguồn nhân lực
                p.carousel__item__text Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                button.carousel__item__button Xem thêm
            .carousel__item 
                .carousel__item__image
                    img(src="./assets/images/carousel1.png")
                h3.carousel__item__title Quản trị nguồn nhân lực
                p.carousel__item__text Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                button.carousel__item__button Xem thêm
            .carousel__item 
                .carousel__item__image
                    img(src="./assets/images/carousel1.png")
                h3.carousel__item__title Quản trị nguồn nhân lực
                p.carousel__item__text Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                button.carousel__item__button Xem thêm
            .carousel__item 
                .carousel__item__image
                    img(src="./assets/images/carousel1.png")
                h3.carousel__item__title Quản trị nguồn nhân lực
                p.carousel__item__text Quản trị, tối ưu hoá sử dụng nguồn nhân lực trong kỷ nguyên số
                button.carousel__item__button Xem thêm