section.chooseBemo
    .container
        .chooseBemo__title
            h3.section__title why choose bemo
            h1.section__title__main CÁC LỢI ÍCH KHI CHỌN BEMO LÀM NGƯỜI BẠN ĐỒNG HÀNH.
        .chooseBemo__content
            .chooseBemo__list
                .chooseBemo__list__item
                    .chooseBemo__item__title
                        .chooseBemo__item__ico
                            i.fa.fa-shield-check
                        h3 Bảo mật
                    .chooseBemo__item__text
                        p Đặt ưu tiên cao nhất về bảo mật dữ liệu khách hàng. Sử dụng những giải pháp tốt nhất để mang tới sự an toàn cao nhất
                .chooseBemo__list__item
                    .chooseBemo__item__title
                        .chooseBemo__item__ico
                            i.fa.fa-shield-check
                        h3 Bảo mật
                    .chooseBemo__item__text
                        p Đặt ưu tiên cao nhất về bảo mật dữ liệu khách hàng. Sử dụng những giải pháp tốt nhất để mang tới sự an toàn cao nhất
                .chooseBemo__list__item
                    .chooseBemo__item__title
                        .chooseBemo__item__ico
                            i.fa.fa-shield-check
                        h3 Bảo mật
                    .chooseBemo__item__text
                        p Chi phí đầu tư ban đầu, chi phí bảo trì bảo dưỡng được loại bỏ. Chi phí hàng tháng hợp lý chỉ từ 50,000vnđ/người/tháng, sử dụng theo nhu cầu thực tế của doanh nghiệp
                .chooseBemo__list__item
                    .chooseBemo__item__title
                        .chooseBemo__item__ico
                            i.fa.fa-shield-check
                        h3 Bảo mật
                    .chooseBemo__item__text
                        p Đặt ưu tiên cao nhất về bảo mật dữ liệu khách hàng. Sử dụng những giải pháp tốt nhất để mang tới sự an toàn cao nhất
                .chooseBemo__list__item
                    .chooseBemo__item__title
                        .chooseBemo__item__ico
                            i.fa.fa-shield-check
                        h3 Bảo mật
                    .chooseBemo__item__text
                        p Chi phí đầu tư ban đầu, chi phí bảo trì bảo dưỡng được loại bỏ. Chi phí hàng tháng hợp lý chỉ từ 50,000vnđ/người/tháng, sử dụng theo nhu cầu thực tế của doanh nghiệp
                .chooseBemo__list__item
                    .chooseBemo__item__title
                        .chooseBemo__item__ico
                            i.fa.fa-shield-check
                        h3 Bảo mật
                    .chooseBemo__item__text
                        p Đặt ưu tiên cao nhất về bảo mật dữ liệu khách hàng. Sử dụng những giải pháp tốt nhất để mang tới sự an toàn cao nhất
                .chooseBemo__list__item
                    .chooseBemo__item__title
                        .chooseBemo__item__ico
                            i.fa.fa-shield-check
                        h3 Bảo mật
                    .chooseBemo__item__text
                        p Đặt ưu tiên cao nhất về bảo mật dữ liệu khách hàng. Sử dụng những giải pháp tốt nhất để mang tới sự an toàn cao nhất
                .chooseBemo__list__item
                    .chooseBemo__item__title
                        .chooseBemo__item__ico
                            i.fa.fa-shield-check
                        h3 Bảo mật
                    .chooseBemo__item__text
                        p Chi phí đầu tư ban đầu, chi phí bảo trì bảo dưỡng được loại bỏ. Chi phí hàng tháng hợp lý chỉ từ 50,000vnđ/người/tháng, sử dụng theo nhu cầu thực tế của doanh nghiệp
            .chooseBemo__image
                img(src="./assets/images/Brower.png")
