section.contact
    .container
        .contact-text
            h3.section__title.line-before Contact Us
            h1.section__title__main contact us to get server free trial version
        .contact-info
            .contact-card 
                .contact-card-icon
                    i.fad.fa-mail-bulk
                    //- img(src="./assets/images/mail-bulk.png")
                .contact-card-content
                    h4.card-title Email us
                    p.card-text bemo.cloud@gmail.com
            .contact-card 
                .contact-card-icon
                    i.fad.fa-mail-bulk
                    //- img(src="./assets/images/mail-bulk.png")
                .contact-card-content
                    h4.card-title Email us
                    p.card-text bemo.cloud@gmail.com
            .contact-card 
                .contact-card-icon
                    i.fad.fa-mail-bulk
                    //- img(src="./assets/images/mail-bulk.png")
                .contact-card-content
                    h4.card-title Email us
                    p.card-text bemo.cloud@gmail.com
        .contact-form 
            h2 DROP YOUR MESSAGE
            .contact-form-group
                .contact-form-input 
                    input(type="text" placeholder="Your Name")
                .contact-form-input 
                    input(type="text"  placeholder="Your Email") 
                .contact-form-input 
                    input(type="text"  placeholder="Your Number") 
                .contact-form-input 
                    input(type="text"  placeholder="Subject")  
            .contact-form-area 
                textarea(placeholder="Write A Message")
            .contact-form-btn
                button  SUBMIT YOUR MESSAGE
                    
        
