section.dashboard
    .dashboard__abshape 
        img(src="./assets/images/ab-sahpe.png", alt="")
    .container
        .dashboard__title
            h3.section__title DASHBOARD SCREENSHOT
            h1.section__title__main GIAO DIỆN THÂN THIỆN #[br] TỐI ƯU HÓA TRẢI NGHIỆM NGƯỜI DÙNG
            p.dashboard__text Bemo Cloud cũng tập trung vào việc cải tiến trải nghiệm người dùng (UX - User Experience), tối ưu đa dạng trên các thiết bị nhằm làm cho nền tảng trở nên trực quan và thân thiện với người dùng hơn. Việc nâng cấp toàn diện UX được kỳ vọng sẽ giúp tăng năng suất và thúc đẩy sự tương tác của người dùng với hệ thống.
        .dashboard-swiper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        img(src="./assets/images/brower2.png")
                    .swiper-slide
                        img(src="./assets/images/brower2.png")
