section.explore
    .explore-overplay
    .explore-content 
        h1 Bemo CLOUD - Người bạn đồng hành
        p Chúng tôi mong muốn được đồng hành cùng sự phát triển của doanh nghiệp bạn!
        .explore-content-btn
            button.btn.btn-secondary
                p KHÁM PHÁ NGAY
