section.office 
    .container 
        .office__title
            h3.section__title.line-before Office tour
            h1.section__title__main CÁC CHI NHÁNH VĂN PHÒNG
        .office__center
            .office__list 
                +office-location()
                +office-location() 
                +office-location() 
                +office-location() 
                +office-location() 
                +office-location() 
