section.blog 
    .container 
        .blog__list
            +blog-item('./assets/images/blog-image-2.png','10.10.2021','Tìm hiểu cách xây dựng nhóm làm việc hiệu quả','Bất kỳ doanh nghiệp nào, phòng ban nào cũng mong muốn đội ngũ của mình thật xuất sắc để mang lại kết quả vượt trội. But doing how to build the group work effect?')
            +blog-item('./assets/images/blog-image-2.png','10.10.2021','Tìm hiểu cách xây dựng nhóm làm việc hiệu quả','Bất kỳ doanh nghiệp nào, phòng ban nào cũng mong muốn đội ngũ của mình thật xuất sắc để mang lại kết quả vượt trội. But doing how to build the group work effect?')
            +blog-item('./assets/images/blog-image-2.png','10.10.2021','Tìm hiểu cách xây dựng nhóm làm việc hiệu quả','Bất kỳ doanh nghiệp nào, phòng ban nào cũng mong muốn đội ngũ của mình thật xuất sắc để mang lại kết quả vượt trội. But doing how to build the group work effect?')
            +blog-item('./assets/images/blog-image-2.png','10.10.2021','Tìm hiểu cách xây dựng nhóm làm việc hiệu quả','Bất kỳ doanh nghiệp nào, phòng ban nào cũng mong muốn đội ngũ của mình thật xuất sắc để mang lại kết quả vượt trội. But doing how to build the group work effect?')
            +blog-item('./assets/images/blog-image-2.png','10.10.2021','Tìm hiểu cách xây dựng nhóm làm việc hiệu quả','Bất kỳ doanh nghiệp nào, phòng ban nào cũng mong muốn đội ngũ của mình thật xuất sắc để mang lại kết quả vượt trội. But doing how to build the group work effect?')
        include ../pagination.pug