section.services
    .container.services__wrapper
        .services__item 
            .services__item__left
                .services__item__left--image
                    image(src="./assets/images/services-image.png")
                .services__item__left--content
                    h3.fw-700 BEMO – QUẢN TRỊ NGUỒN NHÂN LỰC
                    p Phát triển nhân sự toàn diện trong kỷ nguyên số    
            .services__item__right
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Nâng tầm doanh nghiệp trong kỷ nguyên số
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản trị thông tin nhân sự
                        p Tính lương chưa bao giờ đơn giản như vậy.
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
        .services__item 
            .services__item__left
                .services__item__left--image
                    image(src="./assets/images/services-image.png")
                .services__item__left--content
                    h3.fw-700 BEMO – QUẢN TRỊ NGUỒN NHÂN LỰC
                    p Nâng tầm doanh nghiệp trong kỷ nguyên số    
            .services__item__right
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
        .services__item 
            .services__item__left
                .services__item__left--image
                    image(src="./assets/images/services-image.png")
                .services__item__left--content
                    h3.fw-700 BEMO – QUẢN TRỊ NGUỒN NHÂN LỰC
                    p Nâng tầm doanh nghiệp trong kỷ nguyên số    
            .services__item__right
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
        .services__item 
            .services__item__left
                .services__item__left--image
                    image(src="./assets/images/services-image.png")
                .services__item__left--content
                    h3.fw-700 BEMO – QUẢN TRỊ NGUỒN NHÂN LỰC
                    p Nâng tầm doanh nghiệp trong kỷ nguyên số    
            .services__item__right
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
        .services__item 
            .services__item__left
                .services__item__left--image
                    image(src="./assets/images/services-image.png")
                .services__item__left--content
                    h3.fw-700 BEMO – QUẢN TRỊ NGUỒN NHÂN LỰC
                    p Nâng tầm doanh nghiệp trong kỷ nguyên số    
            .services__item__right
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
        .services__item 
            .services__item__left
                .services__item__left--image
                    image(src="./assets/images/services-image.png")
                .services__item__left--content
                    h3.fw-700 BEMO – QUẢN TRỊ NGUỒN NHÂN LỰC
                    p Nâng tầm doanh nghiệp trong kỷ nguyên số    
            .services__item__right
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh
                .services__item__right--details
                    .services__item__right--ico 
                        i.fad.fa-file-search
                    .services__item__right--content
                        h4.fw-700 BEMO – Quản lý đơn hàng
                        p Quy trình quản lý thông minh