.banner {
  background-image: url('/assets/images/banner1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 934px;
  position: relative;

  &__center {
    position: absolute;
    width: 100%;
    z-index: 2;
    color: white;
    top: 50%;
    transform: translateY(-50%);

    @include tablet {
      top: 45%;
    }
  }

  &__content {
    width: 55.4rem;
    &__title {
      text-transform: uppercase;
      font-size: 4.8rem;
      line-height: 6.8rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
      // @include text-line-overflow(6.8rem, 3);
      @include text-truncate(3);
      @include mobile {
        font-size: 3.6rem;
        line-height: 5.6rem;
        @include text-truncate(5);
      }
    }

    &__text {
      line-height: 2.4rem;
      font-weight: 400;
      margin-bottom: 2.4rem;

      @include text-truncate(3);

      @include mobile {
        @include text-truncate(5);
      }
    }

    &__button {
      color: white;
      text-transform: uppercase;
      background: var(--color-active);
      line-height: 5rem;
      min-width: 10rem;
      padding: 0 5rem;
      font-size: 1.6rem;
      border: none;
      border-radius: 0.8rem;

      white-space: nowrap;
      p {
        @include text-overflow;
      }
    }

    @include mobile {
      width: 100%;
    }
  }
}
