.connect {
  padding: 8rem 0;
  background: #f1f6f9;
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.1rem;

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    h1 {
      text-transform: uppercase;
    }
  }

  &__item__text {
    margin-bottom: 0.8rem;
  }
}
