.dashboard {
  position: relative;
  padding: 8rem 0;
  background: white;
  overflow: hidden;
  &__abshape {
    position: absolute;
    top: 0;
    right: 5rem;
    img {
      width: 191px;
      height: 189px;
    }
  }
  &__title {
    h1 {
      margin-bottom: 1.6rem;
    }

    margin-bottom: 1.1rem;
  }
  &__text {
    width: 653px;

    @include tablet {
      width: 100%;
    }
  }

  &-swiper {
    display: inline-block;
    width: 961px;
    margin-left: -1.6rem;

    @include tablet {
      width: 100%;
    }
  }
}

.swiper-container {
  overflow: visible;
}

.swiper-slide {
  transform: scale(1, 0.79);
  margin-right: 0;
}

.swiper-slide-active {
  transform: scale(1);
  transition: all 1s;
}

.swiper-slide-prev {
  opacity: 0;
}
