.explore {
  height: 380px;
  background: url('/assets/images/worker.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &-overplay {
    position: absolute;
    width: 100%;
    opacity: 0.7;
    height: 100%;
    background: #0c3255;
  }

  &-content {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    h1 {
      font-size: 3.2rem;
      line-height: 3.75rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 1.6rem;
    }
    h1,
    p {
      @include text-truncate(2);
    }

    &-btn {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      button {
        background: transparent;
        border: 2px solid white;
        padding: 1.5rem 7.5rem;

        color: white;
        text-transform: uppercase;
        white-space: nowrap;
        p {
          @include text-overflow;
        }
      }
    }

    @include laptop {
      padding-left: 3rem;
      padding-right: 3rem;
      width: 100%;
      text-align: center;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}
