.pagination {
  ul {
    @include flex(flex-end, center);

    @include tablet {
      justify-content: center;
    }
  }
  li {
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.2rem;
    border: 1px solid var(--color-gray-3);
    border-radius: 0.8rem;
    color: var(--color-gray-3);
    @include transition(0.7s);
    @include flex(center, center);
    &:hover {
      background-color: #0f487c73;
      color: white;
    }
    &::last-child {
      margin-right: 0;
    }

    &.active {
      background: var(--color-txt-body-3);
      color: white;
      border: var(--color-txt-body-3);
    }
  }
}
