section.development 
    .container 
        .development__content
            h1.development__title.fw-500  Phát triển doanh nghiệp nhanh chóng
            p.development__text.fw-400 Giá trị cốt lõi của Bemo Cloud là giúp các doanh nghiệp tiếp cận Chuyển đổi số và tích hợp đa dạng nền tảng một cách nhanh chóng – tiết kiệm – hiệu quả và mang đến cho các doanh nghiệp những sản phẩm, ứng dụng thông minh và hữu ích nhất.
    .development__overplay