section.member 
    .container 
        .member__title
            h3.section__title.line-before Bemo MEMBERS
            h1.section__title__main BEMO -  đội ngũ cốt lõi
        .member__center
            .member__list 
                .member__card__item 
                    .member__card__image 
                        image(src="./assets/images/chiHang.png")
                    .member__card__content
                        .member__card__content__text 
                            h3.member__card__name.fw-700 NGUYỄN THỊ THU HẰNG
                            p.member__card__position.fw-700 Phó giám đốc sản phẩm
                .member__card__item 
                    .member__card__image 
                        image(src="./assets/images/chiHang.png")
                    .member__card__content
                        .member__card__content__text 
                            h3.member__card__name.fw-700 NGUYỄN THỊ THU HẰNG
                            p.member__card__position.fw-700 Phó giám đốc sản phẩm
                .member__card__item 
                    .member__card__image 
                        image(src="./assets/images/chiHang.png")
                    .member__card__content
                        .member__card__content__text 
                            h3.member__card__name.fw-700 NGUYỄN THỊ THU HẰNG
                            p.member__card__position.fw-700 Phó giám đốc sản phẩm
                .member__card__item 
                    .member__card__image 
                        image(src="./assets/images/chiHang.png")
                    .member__card__content
                        .member__card__content__text 
                            h3.member__card__name.fw-700 NGUYỄN THỊ THU HẰNG
                            p.member__card__position.fw-700 Phó giám đốc sản phẩm