section.value 
    .container 
        .value__content 
            .value__content__title 
                h3.section__title why choose bemo
                h1.section__title__main CÁC LỢI ÍCH KHI CHỌN BEMO LÀM NGƯỜI BẠN ĐỒNG HÀNH.