.vision
    .container
        .vision__list
            .vision__item
                .vision__item__center
                    .vision__content
                        .vision__content__ico
                            i.fa.fa-eye
                        h1.vision__content__title.fw-700 Tầm nhìn
                        p.vision__content__text Bemo Cloud phấn đấu trở thành giải pháp công nghệ Chuyển đổi số được nhiều doanh nghiệp Việt Nam và thế giới biết tới trong 2 năm tới. 
                .vision__image 
                    image(src="./assets/images/vision-image.png")
            .vision__item
                .vision__item__center 
                    .vision__content
                        .vision__content__ico
                            i.fa.fa-bullseye-arrow
                        h1.vision__content__title.fw-700 Tầm nhìn
                        p.vision__content__text Đồng hành với sự phát triển của doanh nghiệp, cùng doanh nghiệp giải quyết các bài toán về quản trị nguồn lực, tối ưu chi phí,.. nhằm tận dụng cơ hội của cuộc Cách mạng công nghệ 4.0
                .vision__image 
                    image(src="./assets/images/vision-image-2.png")
            