.services {
  padding: 5.6rem 0;

  &__wrapper {
    padding: 0;
  }
  &__item {
    cursor: pointer;
    border-radius: 0.8rem;
    display: flex;
    border: 1px solid var(--color-primary-light-2);
    min-height: 25.6rem;
    margin-bottom: 3.2rem;

    &:last-child {
      margin-bottom: 0;
    }
    &__left {
      background-color: var(--color-primary-light-2);
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
      min-width: 36rem;
      max-width: 36rem;
      padding: 2.8rem 3.2rem;
      &--image {
        @include flex(center, center);
      }

      &--content {
        text-align: center;
        h3 {
          color: var(--color-txt-body-3);
          line-height: 2.4rem;
          font-size: 1.6rem;
          white-space: nowrap;

          @include text-truncate(1);
        }
        p {
          color: var(--color-gray-1);
          font-size: 1.4rem;
          line-height: 2.2rem;

          @include text-truncate(3);
        }
      }

      @include laptop {
        @include flex(center, center);
        flex-direction: column;
      }

      @include tablet {
        max-width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.8rem;
      }
    }

    &__right {
      width: 100%;
      padding: 3.2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      flex-direction: column;
      grid-row-gap: 2.4rem;
      grid-column-gap: 3.2rem;
      grid-auto-rows: max-content;
      &--details {
        @include flex(initial, center);
        overflow-x: scroll;
        white-space: nowrap;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &--ico {
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        background-color: var(--color-primary-light-3);
        margin-right: 1.6rem;
        flex-shrink: 0;
        @include flex(center, center);

        i {
          color: var(--color-primary-light-4);
        }
      }

      &--content {
        h4 {
          color: var(--color-txt-body-3);
          font-size: 1.6rem;
          line-height: 2.4rem;

          @include text-truncate(1);
        }

        p {
          color: var(--color-gray-2);
          font-size: 1.4rem;
          line-height: 2.2rem;

          @include text-truncate(1);
        }
      }

      @include laptop {
        grid-template-columns: repeat(1, 1fr);
      }

      //   @include tablet {
      //     grid-template-columns: repeat(2, 1fr);
      //   }
    }

    @include tablet {
      flex-direction: column;
    }
  }
}
