mixin banner(backgroundUrl, title, content)
    section.banner(style='background-image: url('+backgroundUrl+')')
        .banner__content
            .container
                h1.banner__content__title=title
                p.banner__content__text=content