.blog-item 
    .blog-item__title
        h1 Latest Posts 
    .blog-item__contentList 
        .blog-item__contentItem
            .blog-item__contentItem__image 
                img(src="./assets/images/blog-image-2.png")
            .blog-item__contentItem__text 
                .blog-item__contentItem__time
                    i.fa-calendar.fad
                    p 10.10.2021 
                .blog-item__contentItem__title 
                    h3 [CASE STUDY] Giải pháp ERP cho doanh nghiệp sản xuất...
        .blog-item__contentItem
            .blog-item__contentItem__image 
                img(src="./assets/images/blog-image-2.png")
            .blog-item__contentItem__text 
                .blog-item__contentItem__time
                    i.fa-calendar.fad
                    p 10.10.2021 
                .blog-item__contentItem__title 
                    h3 [CASE STUDY] Giải pháp ERP cho doanh nghiệp sản xuất...
        .blog-item__contentItem
            .blog-item__contentItem__image 
                img(src="./assets/images/blog-image-2.png")
            .blog-item__contentItem__text 
                .blog-item__contentItem__time
                    i.fa-calendar.fad
                    p 10.10.2021 
                .blog-item__contentItem__title 
                    h3 [CASE STUDY] Giải pháp ERP cho doanh nghiệp sản xuất...

        
