header {
  position: fixed;
  width: 100%;
  padding: 2.5rem 0;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;

  &__logo,
  &__menu,
  &__language {
    display: flex;
    // flex: 1;
  }

  &__logo {
    align-items: center;
    justify-content: flex-start;
    padding-right: 6.8rem;
    cursor: pointer;
    &__main {
      width: 17.8rem;
      height: 3rem;
    }

    @include large {
      width: 100%;
      align-items: center;
      justify-content: center;

      padding: 3rem 0;
    }
  }

  &__hamburger {
    z-index: 100001;
    display: none;
    @include large {
      display: block;
    }
  }
  &__menu {
    justify-content: center;

    &__list {
      display: flex;

      @include large {
        width: 90%;
        flex-direction: column;
      }
    }

    &__item {
      padding: 0 2.2rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      cursor: pointer;
      i {
        display: none;
        color: white;
        @include large {
          display: block;
          margin-right: 1rem;
        }
      }
      &:first-child {
        padding-left: 0;
        @include large {
          padding-left: 2rem;
        }
      }
      &:last-child {
        padding-right: 0;
      }

      &.active {
        @include large {
          background-color: #49586682;
        }
      }
      &.active .header__menu__link,
      &.active i {
        color: var(--color-active);
      }

      &:hover .header__menu__link,
      &:hover i {
        color: var(--color-active);
      }

      @include large {
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        margin-bottom: 0.5rem;
        &:hover {
          background-color: #49586682;
        }
      }
    }
    &__link {
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 2.4rem;
      font-weight: 1.6rem;
      transition: all 0.5s;
      @include text-overflow;
      @include large {
        text-transform: capitalize;
        font-weight: 400;
      }
    }

    @include large {
      width: 100%;
    }
  }

  &__language {
    justify-content: flex-end;
    align-items: center;
    color: white;
    min-width: 10rem;
    user-select: none;
    cursor: pointer;
    &__flag {
      img {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
      }
    }

    &__text {
      text-transform: uppercase;
      padding: 0 0.8rem;
    }

    .dropdown__language {
      left: auto;
      // background: white;
      // border: none;
      // padding: 1rem;
      // margin-top: 1rem;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.16);

      .dropdown-item {
        display: flex;
        align-items: center;
        color: black;

        // background-color: var(--color-background-3);
        // border-radius: 0.8rem;
        // margin-bottom: 0.5rem;
        // padding: 1rem 2rem;
        min-width: 15rem;
        img {
          border-radius: 50%;
        }
        p {
          margin-left: 0.5rem;
        }
        transition: all 0.5s;
        &:hover {
          background-color: #49586682;
          p {
            color: black;
          }
        }
      }

      @include large {
        transform: translateY(calc(-100% - 6rem));
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    @include laptop {
      padding-left: 2rem;
    }

    @include large {
      // display: none;
      margin-top: auto;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1.3rem 0;
      background-color: var(--color-background-3);
    }
  }

  &__mobile {
    display: none;
    align-items: center;
    @include large {
      display: flex;
      justify-content: space-between;
    }
  }

  @include large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 100000;
    background: var(--color-background-3);
    width: 40%;
    top: 0;
    left: -100%;
    height: 100%;
    transition: all 1s;
    &__show {
      display: flex;
      left: 0;
    }
  }

  @include mobile {
    width: 60%;
  }
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.sticky {
  background: var(--color-background-3);
}
