header {
  position: fixed;
  width: 100%;
  padding: 2.5rem 0;
  z-index: 10;
  transition: all 0.7s;

  display: flex;
  align-items: center;
  height: 8rem;

  & .container {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  &__logo,
  &__menu,
  &__language {
    display: flex;
  }

  &__logo {
    padding-right: 6.8rem;
    @include flex(center, center);
    &__main {
      cursor: pointer;
      width: 17.8rem;
      height: 3rem;
    }
  }

  &__menu {
    justify-content: center;
    transition: all 0.7s;
    &__list {
      display: flex;

      @include large {
        // width: 90%;
        flex-direction: column;
        padding: 1.6rem;
        // position: fixed;
        // top: 8rem;
        // height: calc(100vh - 8rem);
      }
    }

    &__item {
      padding: 0 2.2rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      cursor: pointer;
      i {
        display: none;
        color: white;
        @include large {
          display: block;
          margin-right: 1rem;
        }
      }
      &:first-child {
        padding-left: 0;
        @include large {
          padding-left: 2rem;
        }
      }
      &:last-child {
        padding-right: 0;
      }

      &.active {
        @include large {
          background-color: #49586682;
        }
      }
      &.active .header__menu__link,
      &.active i {
        color: var(--color-active);
      }

      &:hover .header__menu__link,
      &:hover i {
        color: var(--color-active);
      }

      @include large {
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        margin-bottom: 0.5rem;
        &:hover {
          background-color: #49586682;
        }
      }
    }
    &__link {
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 2.4rem;
      transition: all 0.5s;
      @include text-overflow;
      @include large {
        text-transform: capitalize;
        font-weight: 400;
      }
    }

    &.header__show {
      left: 0;
    }

    @include large {
      position: fixed;
      top: 8rem;
      left: calc(-100% / 2);
      height: calc(100vh - 8rem);

      flex-direction: column;
      justify-content: flex-start;
      width: calc(100% / 2);
      max-width: 35rem;
      background-color: var(--color-background-3);
    }
  }

  &__language {
    justify-content: flex-end;
    align-items: center;
    color: white;
    min-width: 10rem;
    user-select: none;
    cursor: pointer;

    &__mobile {
      display: none;
      @include large {
        display: flex;
      }
    }

    &__desktop {
      @include large {
        display: none;
      }
    }
    &__flag {
      img {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
      }
    }

    &__text {
      text-transform: uppercase;
      padding: 0 0.8rem;
    }

    .dropdown__language {
      left: auto;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.16);
      border: 0;
      .dropdown-item {
        display: flex;
        align-items: center;
        color: black;
        min-width: 15rem;
        padding: 1.5rem;
        img {
          border-radius: 50%;
        }
        p {
          margin-left: 0.5rem;
        }
        transition: all 0.5s;
        &:hover {
          background-color: #49586682;
          p {
            color: black;
          }
        }
      }

      @include large {
        transform: translateY(calc(-100% - 5rem));
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    @include laptop {
      padding-left: 2rem;
    }

    @include large {
      margin-top: auto;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1.3rem 0;
      background-color: var(--color-background-3);
    }
  }

  &__hamburger {
    display: none;

    @include large {
      display: block;
    }
  }
}

.sticky {
  background: var(--color-background-3);
}
