section.all-solution 
    .container 
        .all-solution__list
            .all-solution__item
                .all-solution__item__image 
                    img(src="./assets/images/solution-item.png")
                .all-solution__item__content 
                    .all-solution__item__time
                        i.far.fa-clock 
                        p 10.10.2021
                    .all-solution__item__title
                        h3 ERP giải pháp giao việc hiệu quả tăng hiệu suất nguồn nhân lực
                    .all-solution__item__tag
                        p Human Resource
                    .all-solution__item__text
                        p Khó khăn trong quy trình giao việc của phòng ban Hiện nay, chuyển đổi số là điều tất yếu nếu doanh nghiệp muốn phát triển. Tuy nhiên, thực tế cho thấy còn khá nhiều doanh nghiệp quản lý công việc dựa trên email, giấy tờ làm mất nhiều thời gian cho việc tìm kiếm, theo dõi tiến độ, thậm chí là làm việc chồng chéo, năng suất không cao
                    .all-solution__item__button
                        button.btn.btn-outline-primary
                            p XEM CHI TIẾT
                            i.fa-angle-right.fa
            .all-solution__item
                .all-solution__item__image 
                    img(src="./assets/images/solution-item.png")
                .all-solution__item__content 
                    .all-solution__item__time
                        i.far.fa-clock 
                        p 10.10.2021
                    .all-solution__item__title
                        h3 ERP giải pháp giao việc hiệu quả tăng hiệu suất nguồn nhân lực
                    .all-solution__item__tag
                        p Human Resource
                    .all-solution__item__text
                        p Khó khăn trong quy trình giao việc của phòng ban Hiện nay, chuyển đổi số là điều tất yếu nếu doanh nghiệp muốn phát triển. Tuy nhiên, thực tế cho thấy còn khá nhiều doanh nghiệp quản lý công việc dựa trên email, giấy tờ làm mất nhiều thời gian cho việc tìm kiếm, theo dõi tiến độ, thậm chí là làm việc chồng chéo, năng suất không cao
                    .all-solution__item__button
                        button.btn.btn-outline-primary
                            p XEM CHI TIẾT
                            i.fa-angle-right.fa
            .all-solution__item
                .all-solution__item__image 
                    img(src="./assets/images/solution-item.png")
                .all-solution__item__content 
                    .all-solution__item__time
                        i.far.fa-clock 
                        p 10.10.2021
                    .all-solution__item__title
                        h3 ERP giải pháp giao việc hiệu quả tăng hiệu suất nguồn nhân lực
                    .all-solution__item__tag
                        p Human Resource
                    .all-solution__item__text
                        p Khó khăn trong quy trình giao việc của phòng ban Hiện nay, chuyển đổi số là điều tất yếu nếu doanh nghiệp muốn phát triển. Tuy nhiên, thực tế cho thấy còn khá nhiều doanh nghiệp quản lý công việc dựa trên email, giấy tờ làm mất nhiều thời gian cho việc tìm kiếm, theo dõi tiến độ, thậm chí là làm việc chồng chéo, năng suất không cao
                    .all-solution__item__button
                        button.btn.btn-outline-primary
                            p XEM CHI TIẾT
                            i.fa-angle-right.fa
            .all-solution__item
                .all-solution__item__image 
                    img(src="./assets/images/solution-item.png")
                .all-solution__item__content 
                    .all-solution__item__time
                        i.far.fa-clock 
                        p 10.10.2021
                    .all-solution__item__title
                        h3 ERP giải pháp giao việc hiệu quả tăng hiệu suất nguồn nhân lực
                    .all-solution__item__tag
                        p Human Resource
                    .all-solution__item__text
                        p Khó khăn trong quy trình giao việc của phòng ban Hiện nay, chuyển đổi số là điều tất yếu nếu doanh nghiệp muốn phát triển. Tuy nhiên, thực tế cho thấy còn khá nhiều doanh nghiệp quản lý công việc dựa trên email, giấy tờ làm mất nhiều thời gian cho việc tìm kiếm, theo dõi tiến độ, thậm chí là làm việc chồng chéo, năng suất không cao
                    .all-solution__item__button
                        button.btn.btn-outline-primary
                            p XEM CHI TIẾT
                            i.fa-angle-right.fa
        include ../pagination.pug
