section.categories
    .container 
        .categories__title
            h3.section__title CATEGORIES SOLUTION  
            h1.section__title__main.categories__search You are looking for SOLUTION
        .categories__list
            //- .categories__item 
            //-     .categories__item__ico
            //-         i.far.fa-user
            //-     .categories__item__title
            //-         h1.fw-700 Human Resource
            +categories-item('humanresoure', 'Human Resource')
            +categories-item('ithelpdesk', 'IT Helpdesk')
            +categories-item('purchase', 'Purchase')
            +categories-item('project', 'Project')
            +categories-item('crm', 'CRM')